/* Stylesheet by James DeWalt, 2022 */
body{
    background:green;
}
h1{
    color:white;
    font-size:100px;
    background-color: red;
    width: 80%;
    margin: 0 auto;
    height: 100px;
}
#mydiv{
    color: blue;
}